

  <div class="content">
    <div class="content-inside">
      <nav class="black lighten-1 navbar" role="navigation">
        <div class="nav-wrapper container nav-container">
          <a href="http://www.google.com" class="brand-logo left" id="logo">
            <img class="trophy-logo" class="responsive-img" src="trophy-icon2.png" />
          </a>
          <ul id="nav-mobile" class="side-nav">
            <li>
              <a href="" class="waves-effect waves-light btn">Profile</a>
            </li>
            <li>
              <a href="">Home</a>
            </li>
          </ul>
          <a href="#" data-activates="nav-mobile" class="button-collapse">
            <i class="material-icons">menu</i>
          </a>

          <!-- Dropdown Structure -->
          <ul id="dropdown1" class="dropdown-content">
            <li>
              <a href="http://www.google.com" class="purple">Sign Out</a>
            </li>
          </ul>

          <ul class="right hide-on-med-and-down">
            <li>
              <a href="">Profile</a>
            </li>

            <!-- Dropdown Trigger -->
            <li>
              <a class="dropdown-button" href="http://www.google.com" data-activates="dropdown1">Home
                <i class="material-icons right">arrow_drop_down</i>
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <br>
      <br>
      <br>

      <h3 align="left" class="">Welcome to Catch the Match!</h3>
      <h4>Here's what's going on today with your teams:</h4>
    </div>

    <h5>[DYNAMICALLY ADD TEAM NAME HERE]</h5>
    <div class="container api-table">
      <table class="centered" class="responsive-table" style="width:50%; height:100%" class="tablesclass">
        <thead>
          <tr>
            <th>Matches Today</th>
            <th>STANDINGS</th>
            <th>NEWS</th>
            <th>UPCOMING MATCHES</th>
            <th>WHERE CAN I WATCH?</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>vs. dolphins 5:30 pm (home)</td>
            <td>1st AFC East</td>
            <td>-Patriots going to Super Bowl! -Deflate Gate another probablity?</td>
            <td>Saturday 1/13 vs. Titans</td>
          </tr>
        </tbody>
      </table>

      <h5>[DYNAMICALLY ADD TEAM NAME HERE]</h5>
      <table class="centered" class="responsive-table" style="width:50%; height:100%" class="tablesclass">
        <thead>
          <tr>
            <th>Matches Today</th>
            <th>STANDINGS</th>
            <th>NEWS</th>
            <th>UPCOMING MATCHES</th>
            <th>WHERE CAN I WATCH?</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>[DYNAMICALLY POPULATE]</td>
            <td>[DYNAMICALLY POPULATE]</td>
            <td>[DYNAMICALLY POPULATE]</td>
            <td>[DYNAMICALLY POPULATE]</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <br>
  <br>
  <br>

  <footer class="page-footer black" class="footer">
    <div class="container" class="footer-copyright">
      <div class="row" class="footer-row">
        <p class="center-align copyright copyright-info">COPYRIGHT 2018 THE SALTY PRETZELS </p>
      </div>
    </div>
  </footer>